@model demo_webshop.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
@if(ViewBag.ProductMessage == "Proizvod uspješno ažuriran!")
{
    <div class="alert alert-info">@ViewBag.ProductMessage</div>
    ViewBag.ProductMessage = null;
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            @if(ViewBag.Categories.Count > 0)
            {
                if(ViewBag.ProductMessage != null)
                {
                    <div class="alert alert-danger mt-3">@ViewBag.ProductMessage</div>
                }
               if(ViewBag.Categories.Count <= 10)
               {
                    <partial name="~/Areas/Admin/Views/Shared/_CategoryCheckboxPartial.cshtml" model="@ViewBag.Categories" />
               } 
               else
               {
                    <partial name="~/Areas/Admin/Views/Shared/_CategoryMultiselectPartial.cshtml" model="@ViewBag.Categories" />
               } 
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
