@using Microsoft.AspNetCore.Identity
@using demo_webshop.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*
    1. uvjet: korisnik mora biti prijavljen
    2. uvjet: prijavljeni korisnik mora imati ulogu admina
*@
@if(
    SignInManager.IsSignedIn(User) &&
    await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result,"admin")
) 
{
    <div class="dropdown">
            <a class="btn nav-link text-dark dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

            <li>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="category" asp-action="index">Category</a>
            </li>

            <li>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="product" asp-action="index">Products</a>
            </li>

            <li>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="order" asp-action="index">Orders</a>
            </li>
        </ul>
    </div>
}